.main-title {
  font-family: 'RocknRoll One', sans-serif;
}

header {
        position: relative;
        height: 150px;
        background: #0067C0;
        background-size:cover;
}
header::after {
        position: abosolute;
        content: '';
        bottom: -75px;
        display: block;
        width: 100%
        height: 100px;
        background: #0067C0;
}
section {
        height: 150px;
        background: #0067C0;
}
h1,h2 {
        font-size: 2em;
        margin: 0;
        padding: 1em 0;
        text-align: center;
        color: #ffffff;
}
h2 {
        padding: 2em 0;
}
