.main-title {
  font-family: 'RocknRoll One', sans-serif;
}

body {
  margin: 0;
  font-family: 'RocknRoll One', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #1e90ff, #00c9a7);
  padding: 15px 40px;
}

.logo {
  font-size: 20px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.7;
}
