.main-title {
  font-family: 'RocknRoll One', sans-serif;
}

.ring-loader {
    width: 60px; height: 60px;
    border: 7px solid #0056d6;
    border-radius: 50%;
    position: relative;
}
.ring-loader::after {
    content: ''; position: absolute;
    top: -7px; left: -7px; 
    width: 100%; height: 100%;
    border: 7px solid transparent;
    border-top-color: #d6d6d6;
    border-radius: 50%;
    animation: ring-rotate 1s linear infinite;
}
@keyframes ring-rotate { to { transform: rotate(360deg); } }
